In [7]:
# Read Mevlet data file

from zipfile import ZipFile
import pandas as pd

In [38]:
with ZipFile('../collection_csv.zip') as myzip:
    with myzip.open('collection_csv/us-balance-annual.csv') as f:
        df_balance = pd.read_csv(f, sep=';')
    with myzip.open('collection_csv/us-income-annual.csv') as f:
        df_income = pd.read_csv(f, sep=';')
    with myzip.open('collection_csv/us-companies.csv') as f:
        df_companies = pd.read_csv(f, sep=';')
    with myzip.open('collection_csv/us-cashflow-annual.csv') as f:
        df_cashflow = pd.read_csv(f, sep=';')
    with myzip.open('collection_csv/industries.csv') as f:
        df_industry = pd.read_csv(f, sep=';')
    with myzip.open('collection_csv/industries.csv') as f:
        df_industry = pd.read_csv(f, sep=';')
    with myzip.open('collection_csv/markets.csv') as f:
        df_market = pd.read_csv(f, sep=';')

In [28]:
df_balance.columns

Index(['Ticker', 'SimFinId', 'Currency', 'Fiscal Year', 'Fiscal Period',
       'Report Date', 'Publish Date', 'Restated Date', 'Shares (Basic)',
       'Shares (Diluted)', 'Cash, Cash Equivalents & Short Term Investments',
       'Accounts & Notes Receivable', 'Inventories', 'Total Current Assets',
       'Property, Plant & Equipment, Net',
       'Long Term Investments & Receivables', 'Other Long Term Assets',
       'Total Noncurrent Assets', 'Total Assets', 'Payables & Accruals',
       'Short Term Debt', 'Total Current Liabilities', 'Long Term Debt',
       'Total Noncurrent Liabilities', 'Total Liabilities',
       'Share Capital & Additional Paid-In Capital', 'Treasury Stock',
       'Retained Earnings', 'Total Equity', 'Total Liabilities & Equity'],
      dtype='object')

In [29]:
df_income.columns

Index(['Ticker', 'SimFinId', 'Currency', 'Fiscal Year', 'Fiscal Period',
       'Report Date', 'Publish Date', 'Restated Date', 'Shares (Basic)',
       'Shares (Diluted)', 'Revenue', 'Cost of Revenue', 'Gross Profit',
       'Operating Expenses', 'Selling, General & Administrative',
       'Research & Development', 'Depreciation & Amortization',
       'Operating Income (Loss)', 'Non-Operating Income (Loss)',
       'Interest Expense, Net', 'Pretax Income (Loss), Adj.',
       'Abnormal Gains (Losses)', 'Pretax Income (Loss)',
       'Income Tax (Expense) Benefit, Net',
       'Income (Loss) from Continuing Operations',
       'Net Extraordinary Gains (Losses)', 'Net Income',
       'Net Income (Common)'],
      dtype='object')

In [32]:
df_companies.head()

       Ticker  SimFinId                      Company Name  IndustryId
0           A     45846          AGILENT TECHNOLOGIES INC    106001.0
1          AA    367153                        Alcoa Corp    110004.0
2  AAC_delist    939324                AAC Holdings, Inc.    106011.0
3         AAL     68568      American Airlines Group Inc.    100006.0
4        AAMC    847094  Altisource Asset Management Corp    104001.0

In [31]:
df_companies.columns

Index(['Ticker', 'SimFinId', 'Company Name', 'IndustryId'], dtype='object')

In [35]:
df_industry.head()

   IndustryId       Sector                    Industry
0      100001  Industrials         Industrial Products
1      100002  Industrials           Business Services
2      100003  Industrials  Engineering & Construction
3      100004  Industrials            Waste Management
4      100005  Industrials     Industrial Distribution